<form action="/pessoas/inscritosadm">

    <select name="search" class="mt-2">
        <option value="SIM">PAGOU</option>
        <option value="NÃO">NÃO PAGOU</option>
        <option selected value="">TODOS</option>
    </select>
    {{!-- <input type="text" name="search"> --}}
    <button type="submit" class="btn btn-warning">Enviar</button>


</form>


<table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">NOME</th>
            <th scope="col">PAGAMENTO</th>
            <th scope="col">DATA PAGAMENTO</th>
            <th scope="col">DATA INSCRIÇÃO</th>
            <th scope="col">TELEFONE</th>
            <th scope="col">CIDADE</th>
            <th scope="col">AÇÃO</th>
        </tr>
    </thead>
    <tbody>

        {{#each pessoas}}



        <tr class="text-center">
            <td>{{nome}}</td>
            <td>{{pagamento}}</td>
            <td>{{data_pagamento}}</td>
            <td>{{data_inscricao}}</td>
            <td>{{telefone}}</td>
            <td>{{cidade}} </td>
            <td>
                <form action="/pessoas/inscritosadm/apagar" method="post">
                    <input type="hidden" class="inputid" name="apagar" value="{{_id}}">
                    <button type="submit" class="btn btn-danger mb-2" onclick="return confirmDelete()">EXCLUIR</button>
                </form>


                <form action="/pessoas/inscritosadm/pagou" method="post">
                    <input type="hidden" class="inputid" name="pagamento" value="{{_id}}">
                    <button type="submit" class="btn btn-success" onclick="return confirmPagou()">PAGOU</button>
                </form>
            </td>

        </tr>


        {{/each}}




    </tbody>
</table>


<script>
    // JavaScript function to validate form on submission
    function confirmDelete() {
        var tentou = confirm(" Tem certeza que deseja EXCLUIR?"); if (tentou) return true; else return false;
    } // -->

    function confirmPagou() {
        var pagou = confirm(" Tem certeza que a pessoa PAGOU?"); if (pagou) return true; else return false;
    }



</script>